.game {
    /* ширина игровой области */
    width: 1000px;
    /* высота игровой области */
    height: 450px;

    background-size: 1000px 450px;

    /* рамка серого цвета и отступы вокруг неё */
    border: 1px solid rgb(122, 122, 122);
    /* автоматические отступы  */
    margin: auto;

    background-image: url(img/background.png);
}

#dino {
    /* ширина и высота динозаврика */
    width: 40px;
    height: 80px;
    /* путь к изображению динозаврика */
    background-image: url(img/pidor.png);
    /* ширина и высота подложки */
    background-size: 40px 80px;
    /* относительное позиционирование */
    position: relative;
    /* отступ сверху */
    top: 305px;

    left: 140px;
}

/* класс анимации прыжка */
.jump {
    animation: jump 0.5s linear;
}

/* 5 ключевых кадров для анимации прыжка */
@keyframes jump {
    0% {
        /* начальная позиция */
        top: 305px;
    }

    25% {
        /* начало прыжка */
        top: 250px;
    }

    40% {
        /* начало прыжка */
        top: 200px;
    }

    50% {
        /* самая высокая точка прыжка */
        top: 150px;
    }

    60% {
        /* начало прыжка */
        top: 200px;
    }

    75% {
        /* начало спуска */
        top: 250px;
    }

    100% {
        /* возврат в начальную позицию */
        top: 305px;
    }
}

#cactus {
    /* ширина и высота кактуса */
    width: 20px;
    height: 40px;
    /* относительное позиционирование */
    position: relative;
    /* начальное положение кактуса */
    top: 265px;
    left: 580px;
    /* путь к изображению кактуса*/
    background-image: url("img/can.png");
    /* ширина и высота подложки */
    background-size: 20px 40px;
    /* анимация перемещения кактуса */
    animation: block 2s infinite linear;
}
@keyframes block {
    /* начальная позиция кактуса (справа) */
    0% {
        left: 580px;
    }
    /* конечная позиция кактуса (слева, за пределами экрана) */
    100% {
        left: -20px;
    }
}
